body{
	background-image: url(../img/bubble.png);
	background-attachment:fixed;
	overflow:auto;
}

$mainColor50:rgba(237, 120, 26, 0.9);
$mainColor60:rgba(237, 120, 26, 0.7);
$mainColor65:rgba(241, 241, 241, 0.6);
$mainColor70:rgba(69, 69, 91,1);
$mainColor75:rgba(182,169,161,0.9);
$mainColor80:rgba(21,21,21,0.6)
